<div class="content-container">
  <mat-card class="form-container">
    <mat-card-title>Login</mat-card-title>

    <form class="login-form" (ngSubmit)="doLogin(loginForm)" #loginForm="ngForm">
      <mat-form-field>
        <input matInput placeholder="User name" pattern=".{3,}" [(ngModel)]="login" name="login" required>
        <mat-hint>Please specify your Username, at least three characters.</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" pattern=".{3,}" [(ngModel)]="password" type="password"  name="password" required>
        <mat-hint>Please specify your password, at least three characters.</mat-hint>
      </mat-form-field>

      <button mat-raised-button color="accent">Login</button>

      <mat-card *ngIf="loginFailed">Password or Username are wrong.</mat-card>
    </form>

  </mat-card>
</div>
