<!-- TODO: Add ng specific directives/validation settings and add styling -->
<button mat-button (click)="doLogout()">Logout {{user.firstname}} {{user.lastname}}</button>

<!-- <div *ngIf="user; else registerbutton">
  <a mat-button href="/dashboard">Dashboard</a>
  <a mat-button href="/dashboard/transactions">All Transactions</a>
  <button mat-button (click)="doLogout()">Logout {{user.firstname}} {{user.lastname}}</button>
</div>

<ng-template #registerbutton>
  <a mat-button href="/">Home</a>
  <a mat-button href="/welcome/register">Register</a>
</ng-template>
-->
