.register-form {
  display: flex;
  flex-direction: column;
}

.register-form > * {
  width: 100%;
}

.content-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.mat-card {
  box-sizing: border-box;
  display: inline-block;
  font-family: 'Berkshire Swash', sans-serif;
  margin: 1em;
  width: 100%;
}

.mat-card-content {
  font-family: 'Roboto', sans-serif;
}
