<div class="content-container">
  <mat-card class="form-container">
    <mat-card-title>Register</mat-card-title>

    <mat-card-content>
      <form class="register-form" (ngSubmit)="doRegister(registerForm)" #registerForm="ngForm">
        <mat-form-field>
          <input matInput placeholder="First name" pattern=".{2,}" type="text" [(ngModel)]="firstName" name="firstName"
                 required>
          <mat-hint>Please specify your First name, at least two characters.</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Last name" pattern=".{2,}" type="text" [(ngModel)]="lastName" name="lastName"
                 required>
          <mat-hint>Please specify your Last name, at least two characters.</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Username" pattern=".{3,}" type="text" [(ngModel)]="login" name="login" required>
          <mat-hint>Please specify your Username, at least three characters.</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Password" pattern=".{3,}" type="password" [(ngModel)]="password" name="password"
                 required>
          <mat-hint>Please specify your Password, at least three characters.</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Confirm Password" pattern=".{3,}" type="password" [(ngModel)]="passwordConfirm"
                 name="passwordConfirm" required>
          <mat-hint>Please confirm your Password.</mat-hint>
        </mat-form-field>

        <button mat-raised-button color="accent">Register</button>
      </form>

      <mat-card *ngIf="validationMessage">
        <mat-card-content>{{validationMessage}}</mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
