@import '~@angular/material/theming';

@include mat-core();

$finance-webapp-primary: mat-palette($mat-purple, A100);
$finance-webapp-accent: mat-palette($mat-light-green, A400);
$finance-webapp-warn: mat-palette($mat-red, 500);

$theme: mat-light-theme($finance-webapp-primary, $finance-webapp-accent, $finance-webapp-warn);

@include angular-material-theme($theme);

body {
  font-family: 'Berkshire Swash', sans-serif;
  margin: 0;
  padding: 0;
}

.mat-button {
  font-family: 'Berkshire Swash', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  height: 100%;
}

.mat-toolbar {
  min-height: 48px !important;
}

.mat-toolbar-row {
  height: 48px !important;
}

.mat-button-wrapper {
  display: inline-block;
  font-weight: normal;
  padding-top: 5px;
}

.page-title {
  border-right: 0px solid black;
  box-sizing: border-box;
  display: inline-block;
  font-family: 'Berkshire Swash', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  height: 100%;
  padding-right: 25px;
  padding-top: 5px;
}
