<div class="content-container">
  <mat-card>
    <mat-card-title>All Transactions</mat-card-title>
    <mat-card-content>
      <form class="transactions-filter">
        <mat-form-field>
          <mat-select placeholder="Year" name="year" [(ngModel)]="year">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let year of yearOptions" [value]="year.value">{{ year.text }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Month" name="month" [(ngModel)]="month">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let month of monthOptions" [value]="month.value">{{ month.text }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" name="count" min="0" step="1" placeholder="Count" value="10"
                 [(ngModel)]="count">
        </mat-form-field>
      </form>

      <wed-transaction-list [year]="year" [month]="month" [count]="count"></wed-transaction-list>
    </mat-card-content>
  </mat-card>
</div>
