<div class="content-container">
  <mat-card class="card-new-payment">
    <mat-card-title>New Payment</mat-card-title>
    <form class="new-payment-form" *ngIf="!showPaymentConfirmation">
      <mat-card-content>
        <mat-form-field>
          <input matInput type="text" placeholder="From:" disabled
                 value="{{accountDetails && accountDetails.accountNr}} [{{accountDetails && accountDetails.amount | number:'1.2-2'}} CHF]">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="To:" name="targetAccountNr"
                 [ngModel]="targetAccountNr" (ngModelChange)="onTargetAccountNrChanged($event)">
          <mat-hint align="start">{{targetAccountNrMessage}}</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" min="0.05" step="0.05" placeholder="Amount [CHF]:" name="transferAmount"
                 [ngModel]="transferAmount" (ngModelChange)="onTransferAmountChanged($event)">
          <mat-hint align="start">{{transferAmountMessage}}</mat-hint>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="isPayButtonDisabled()"
        (click)="onPayClicked()">Pay</button>
      </mat-card-actions>
    </form>

    <mat-card-content *ngIf="showPaymentConfirmation">
      <p>Payment to {{targetAccountNr}} succeeded!</p>
      <p>New balance {{accountDetails.amount | number:'1.2-2'}} CHF</p>
    </mat-card-content>
    <mat-card-actions *ngIf="showPaymentConfirmation">
      <button mat-raised-button color="primary" (click)="onStartOverClicked()">Start over</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card-latest-transactions">
    <mat-card-title>Latest Transactions</mat-card-title>
    <mat-card-content>
      <wed-transaction-list count="3"></wed-transaction-list>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" routerLink="/dashboard/transactions">All Transactions</a>
    </mat-card-actions>
  </mat-card>
</div>
