.content-container {
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
  padding-top: 25px;
  width: 95vw;
}

.mat-card,
.mat-raised-button {
  box-sizing: border-box;
  display: inline-block;
  font-family: 'Berkshire Swash', sans-serif;
  margin: 0 10px;
}

.mat-card-content {
  font-family: 'Roboto', sans-serif;
}

.card-new-payment {
  flex-grow: 1;
}

.card-latest-transactions {
  flex-grow: 2;
}

.new-payment-form {
  .mat-form-field {
    margin-bottom: 1em;
    width: 100%;
  }
}
