<mat-table #table [dataSource]="dataSource">
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
    <mat-cell *matCellDef="let transaction">{{transaction.date | date:'dd.MM.yyyy'}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="from">
    <mat-header-cell *matHeaderCellDef>From</mat-header-cell>
    <mat-cell *matCellDef="let transaction">{{transaction.from}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="target">
    <mat-header-cell *matHeaderCellDef>To</mat-header-cell>
    <mat-cell *matCellDef="let transaction">{{transaction.target}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef>Amount [CHF]</mat-header-cell>
    <mat-cell *matCellDef="let transaction" class="amount-cell">{{transaction.amount | number:'1.2-2'}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef>Balance [CHF]</mat-header-cell>
    <mat-cell *matCellDef="let transaction" class="amount-cell">{{transaction.total | number:'1.2-2'}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
