<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="page-title">
      Bank of Rapperswil
    </span>

    <ng-template #registerbutton>

    </ng-template>

    <div *ngIf="account; else registerbutton">
      <a mat-button routerLink="/dashboard">Dashboard</a>
      <a mat-button routerLink="/dashboard/transactions">All Transactions</a>
      <wed-logout></wed-logout>
    </div>

    <ng-template #registerbutton>
      <a mat-button routerLink="/">Home</a>
      <a mat-button routerLink="/welcome/register">Register</a>
    </ng-template>


  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
